.App {
  text-align: center;
}
.header-background {
  width: 100%;
  height: 130px;
  background-color: #4ac9ff !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.forgot-pass p span {
  color: #000000;
}
.cursor-pointer {
  cursor: pointer;
}
.fa-check:before {
  content: "\f00c";
}
.checkbox-fade label input[type="checkbox"]+.cr>.cr-icon, .checkbox-fade label input[type="radio"]+.cr>.cr-icon {
  -webkit-transform: scale(3) rotateZ(
-20deg);
  transform: scale(3) rotateZ(
-20deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.checkbox-fade, .checkbox-zoom {
    display: inline-block;
    margin-right: 15px;
}
.checkbox-fade.fade-in-primary .cr, .checkbox-fade.zoom-primary .cr, .checkbox-zoom.fade-in-primary .cr, .checkbox-zoom.zoom-primary .cr {
  border: 2px solid #4ac9ff;
}
.checkbox-fade.fade-in-primary .cr .cr-icon, .checkbox-fade.zoom-primary .cr .cr-icon, .checkbox-zoom.fade-in-primary .cr .cr-icon, .checkbox-zoom.zoom-primary .cr .cr-icon {
  color: #4ac9ff;
}
.text-inverse {
  color: #37474f;
}
.checkbox-fade .cr, .checkbox-zoom .cr {
  border-radius: 0;
  border: 2px solid #448aff;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 20px;
  margin-right: 1rem;
  position: relative;
  width: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.checkbox-fade label {
  line-height: 20px;
}
.text-right {
  text-align: right!important;
}

.float-right {
  float: right!important;
}
.checkbox-fade label input[type="checkbox"], .checkbox-fade label input[type="radio"] {
  display: none;
}
.forgot-pass button.btn.btn-search {
  background: #3E3E3E !important;
  border-radius: 4px;
  width: 100%;
  color : #ffffff;
  line-height : 23px;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.content {
  align-self: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80px;
  width: 100%;
}
.login-form label {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0.5em;
}
.login-form input {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.form-group {
  margin-bottom: 1.25em;
}
.login-form i.fas.fa-eye {
  position: absolute;
  right:300px;
  top: 180px;
}
.top-font{
  font-weight: bold;
  font-size: 1.75rem;
  margin-top : 10px;
  text-align : center;
}
.center-container{
  margin: auto;
  width: 90%;
}
.form-control:focus{
   box-shadow: 0 0 0 0.2rem rgb(74 201 255 / 25%) !important;
    border: 1px solid #4ac9ff !important;
}
.box {
  width: 50%;
  align-self: center;
  height: 350px;
  background-color: white;
  /* border: 1px solid gray; */
  border-radius: 10px;
  box-shadow: 1px 1px 4px 3px rgb(230, 230, 230);

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
